.nav-links {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  padding: 2.5rem 1rem;
  width: fit-content;
  border-radius: 500px;
  gap: 1.5rem;
  margin-right: 1rem;
  position: fixed;
  z-index: 999;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  background-color: rgba(240, 248, 255, 0.52);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 50px rgb(95, 95, 166);
}

.nav-link {
  cursor: pointer;
  transition: 200ms ease all;
}

.nav-link:hover {
  transform: scale(1.05) translateX(-20px);
}
